<li><a href="exercise01.html">01. Introduction and Project Management</a></li>
<li><a href="exercise02.html">02. 2D and 3D Design</a></li>
<li><a href="exercise03.html">03. Laser Cutting</a></li>
<li><a href="exercise04.html">04. Electronics Production</a></li>
<li><a href="exercise05.html">05. CNC Milling</a></li>
<li><a href="exercise06.html">06. 3D Printing</a></li>
<li><a href="exercise07.html">07. Electronics Design</a></li>
<li><a href="exercise08.html">08. Embedded Programming</a></li>
<li><a href="exercise09.html">09. Input Devices</a></li>
<li><a href="exercise10.html">10. Output Devices</a></li>
