/* stylesheet created to edit the code-snippets, this may change in the next weeks when i start working on my own design */
.code {
    font-family: 'Source Code Pro', monospace; /* apply google font source code pro, impoted in the html */
    padding: 10px;
    background-color: rgb(233, 233, 233);
}